.prinabrriba{
    background-color: #EAEAEA;
    display: flex;
}
    .sobreMi{
        margin-left: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 10px; 
        border: 5px solid #6ABBF6;
        display: flex;
        width: 60%;
    }
        .texting{
            text-align: justify;
        }
        .botones{
            margin-left: 5%;
            flex-direction: column;
            align-items: center;
        }
            .bo1{
                margin-top: 60%;
                margin-bottom: 35%;
            }
